extends ../layout
block content
    form(action="/usuario/user/api",method="post")
        input(type="text",name="name",placeholder="Nombres")
        br
        input(type="text",name="lastname",placeholder="Apellidos")
        br
        input(type="text",name="phone",placeholder="Telefono")
        br
        input(type="email",name="email",placeholder="Correo")
        br
        input(type="password",name="password",placeholder="Contraseña")
        br
        input(type="submit",value="Registrar")
