extends ../layout
block content
    form(action="/dieta/diet/api",method="post")
        input(type="text",name="title",placeholder="Titulo")
        br
        input(type="text",name="description",placeholder="Descripcion")
        br
        input(type="text",name="ingredient",placeholder="Ingredientes")
        br
        input(type="text",name="preparation",placeholder="Preparacion")
        br
        input(type="submit",value="Registrar")
